<turbo-frame id="item_{item.id}" class="w-100 d-flex">
    <form action="/itens/{item.id}" method="POST" class="w-100 d-flex">
        <div class="w-25">
            {item.id}
        </div>
        <div class="w-25">
            <input type="text" name="name" value="{item.name}">
        </div>
        <div class="w-25">
            <input type="number" name="price" step="0.01" value="{item.price}"/>
        </div>
        <div class="w-25">
            <button type="submit">Salvar</button>
            <button type="submit" name="action" value="cancelar">Cancelar</button>
        </div>
    </form>
</turbo-frame>

